.form1{
    width:500px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 50px;
}
.form1 input{
    width:100%;
    clear:both;
}
.navbar {
    margin-bottom: 20px;
}
.body{
    background-color: #000000;
    color: #ffffff;
}
.preform{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}